/*
[
  [
    [
      [
        [
          [
            [
              [
                [
                  [
                    [
                      [

                      ]
                    ]
                  ]
                ]
              ]
            ]
          ]
        ]
      ]
    ]
  ]
]
*/

// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@rainbow-transparency: 75%;

#rainbow () {
  .highlight (@level, @color) {
    .region.rainbow-level-@{level}:first-child {
      border-left: 0.5em solid fadeout(@color, @rainbow-transparency);
      border-radius: 5px;
    }

    .region.rainbow-level-@{level}:last-child {
      border-radius: 5px;
      border-right: 0.5em solid fadeout(@color, @rainbow-transparency);
    }
  }
}

.rainbow.highlight {
  #rainbow.highlight(1, @ui-site-color-1);
  #rainbow.highlight(2, @ui-site-color-2);
  #rainbow.highlight(3, @ui-site-color-3);
  #rainbow.highlight(4, @ui-site-color-4);
  #rainbow.highlight(5, @text-color-info);
  #rainbow.highlight(6, @text-color-info);
  #rainbow.highlight(7, @text-color-success);
  #rainbow.highlight(8, @text-color-warning);
  #rainbow.highlight(9, @text-color-error);
}
